<!DOCTYPE html>
<html>
<head>
	<title>TripBro Sign In</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

     <form action="#" method="post">
      <h2>Sign In</h2>
		<p>
			<label for="Email" class="floatLabel">Email</label>
			<input id="Email" name="Email" type="text">
		</p>
		<p>
			<label for="password" class="floatLabel">Password</label>
			<input id="password" name="password" type="password">
		</p>
		<p>
			<button class="btn btn-success" type="submit" style="margin-left: 40%; border-radius: 5px; background-color: #ffb84d; color: white; font-size: 25px;"><a href="http://localhost:10000" style="text-decoration: none; color: white;">Log In</a></button>
		</p>
		<a href="/register/sign_up" style="font-size: 14px; position: center;">Register here</a>
	</form>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
<script src="js/register.js"></script>
</body>
</html>
